---
title: Netbeans IDE Icons (24x24)
---

<% icons(size=24).each_slice(20) do |icons| %>
  <div class="row">
    <% icons.each do |icon| %>
      <%= image_tag "icons/24x24/#{icon}", class: 'img-thumbnail mx-2' %>
    <% end %>
  </div>
<% end %>